version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    ports:
      - "5439:5432"
    environment:
      - POSTGRES_DB=tradeops_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: